.infoContent {
    margin: 60px 0;
}

.infoContent p {
    text-align: justify;
}

.coopInfo {
}

.cooperationInfo img {
    width: 30vw;
    object-fit: fill;
    float: right;
    margin-left: 30px;
}