.infoContent {
    margin: 60px 0;
}

.infoContent p {
    text-align: justify;
}

.howToCoop ul > li > span:first-child {
    color: #2B8CB6;
    font-weight: 500;
}

.howToCoop ul > li {
    margin: 20px 0;
    font-size: 23px;
}

.cooperationInfo img {
    max-width: 690px;
    width: 30vw;
    object-fit: fill;
    float: right;
    margin-left: 30px;
}