p, li {
    color: dimgrey;
    font-size: 25px;
}

.department > div {
    margin: 60px 0;
}

.mainInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.departmentInfo {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;

    text-align: justify;
}

.departmentInfo img {
    width: 30vw;
    object-fit: fill;
    float: right;
    margin-left: 30px;
}

.professionalFocusList, .programsList {
    margin-top: 20px;
}