p, li {
    color: dimgrey;
    font-size: 25px;
}

.department > div {
    margin: 60px 0;
}

.mainInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainInfo img {
    width: 30vw;
    object-fit: fill;
}

.mainInfo p {
    width: 53vw;
    text-align: justify;
}

.professionalFocusList, .programsList {
    margin-top: 20px;
}