.employeesContent {
    max-width: 80vw;
    margin: 0 auto;
}

.employeesContent p {
    margin: 5px;
    color: dimgrey;
}

.employeeInfo {
    display: grid;
    grid-template-rows: 1fr auto;
}

.employeePosition p {
    font-weight: 700;
    font-size: 25px;
    color: darkslateblue;
}

.positionInfo {
    display: grid;
    grid-template-columns: 5fr 4fr;
    margin-top: 10px;
}

.contactBlocks {
    display: grid;
}

.employeeName p {
    font-size: 21px;
    font-weight: 500;
}

.contactBlock {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.contactBlock p {
    font-size: 18px;
}

