/*Department*/
.departmentContent div {
    margin: 1rem 0;
}



/*Employees*/
.employeeInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.employeeInfo div {
    margin-top: 0.5rem;
}

.employeePosition {
    font-weight: bold;
}

.contactBlock {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.contactBlock > div:first-child {
    margin-right: 1rem;
    font-weight: 500;
}

.positionInfo {
    margin: 1rem !important;
}

/*Projects*/
.projectsBlock div {
    margin-top: 0.5rem;
}

.projectInfoBlock {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.projectInfoBlock > div:first-child {
    margin-right: 1rem;
    font-weight: 500;
}

.linkBlock {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;

    margin-top: 1rem !important;
}

.projectsTitle {
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
}

/*Education*/
.educationProgram {
    max-width: calc(100vw - 6rem);
}

.descriptionLine {
    margin-right: 2rem;
}

.programShortDesc {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.table {
    min-width: 800px;
}

.table tr {
    display: grid;
    grid-template-columns: 1.5fr repeat(6, 1fr);
}

.table td,
.table th {
    min-width: 120px;
    padding: 12px;
}

.programTitle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    margin: 1rem 0;

    font-weight: bold;
}

.programTitle p {
    font-size: 0.8rem!important;
}

.courses {
    margin-bottom: 1rem;
}

.educationYearInfo > p {
    font-weight: bold;
}

@media (max-width: 999px) {
    .programShortDesc {
        display: unset;
    }

    .descriptionLine {
        margin: 1rem 0 1rem 0;
    }
}

/*Cooperation*/
.coopInfo div {
    margin: 1.5rem 0;
}

.introPhotos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.introPhotos > div {
    width: 45%;
    margin: 0 0.5rem;
}

@media (max-width: 767px) {
    .introPhotos > div {
        width: 90vw;
    }
}

.introPhoto {
    width: 100%;
    max-height: 70vh;
    object-fit: cover;
}

.howToCoop ol {
    margin-left: 1rem;
}

@media (max-width: 1055px) {
    .departmentInfo, .cooperationInfo {
        flex-wrap: wrap;
    }
}

/*Laboratories*/
.laboratories {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.laboratories > div {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;

    min-height: 100px;
    max-width: 500px;
}

.laboratories > div:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
}

.laboratoryButton {
    text-align: center;
}

.laboratoryButton h2 {
    font-size: 1.3rem;
    color: var(--blue);
}

.labDialog h2, h3, h4{
    font-weight: bold;
}

.labDialog h4 {
    margin: 1rem 0 0 0 !important;
}

.labDialog h3 {
    color: var(--fiolet);
}

.labDialog h2, h4 {
    color: var(--blue);
}

.labDialogContent div div {
    margin-left: 1rem;
}

.labDialogButtons button {
    margin: 0.6rem 1rem 0.6rem 0!important;
}