.App {
  display: grid;
  grid-template-rows: 1fr auto;
}

.WebContent {
  min-height: 88vh;
}

.mainContent {
  max-width: 1440px;
}

.padding {
  padding: 0 40px;
}

.linkPar :hover {
  color: darkslateblue;
}

.link {
  text-decoration: none;
  color: #2B8CB6;
}

.border {
  padding: 15px;
  border: 2px solid darkgrey;
  border-radius: 20px;

  margin: 30px auto;
}

p {
  margin: 0;
}

.mainLabel {
  color: darkslateblue;
  font-size: 40px;
  text-align: center;
  margin: 10px 0;
}

.titleMain {
  font-size: 25px;
  font-weight: bold;
  color: #2B8CB6;
}

.titleSecond {
  font-size: 23px;
  font-weight: 500;
  color: darkslateblue;
}

.subTitle {
  color: #2B8CB6;
}

.secondText {
  font-size: 18px;
}