.App {
  display: grid;
  grid-template-rows: 1fr auto;
}

.WebContent {
  display: grid;
  grid-template-rows: 1fr auto auto; /*заменить второе значение на auto*/

  min-height: 88vh;
}

.padding {
  padding: 0 40px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
