.App {
  display: grid;
  grid-template-rows: 1fr auto;
}

.WebContent {
  display: grid;
  grid-template-rows: 1fr auto auto; /*заменить второе значение на auto*/

  min-height: 88vh;
}

.mainContent {
  max-width: 1440px;
}

.padding {
  padding: 0 40px;
}

.linkPar :hover {
  color: darkslateblue;
}

.link {
  text-decoration: none;
  color: #2B8CB6;
}

.border {
  padding: 15px;
  border: 2px solid darkgrey;
  border-radius: 20px;
  margin: 30px 0;
}

p {
  margin: 0;
}

.mainLabel {
  color: darkslateblue;
  font-size: 40px;
  text-align: center;
  margin: 10px 0;
}

.titleMain {
  font-weight: bold;
  color: #2B8CB6;
}

.titleSecond {
  font-weight: 500;
  color: darkslateblue;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
