.footer > div > div {
    margin: 0.5rem 0;
}

.komLogoFooter {
    height: 80px;
}

.contactInfoContent {
    max-width: 550px;
    margin: 0 auto !important;
}

.contactInfoContent > div,
.contactInformation > div,
.socialNetworks > div {
    margin: 1rem 0;
}

.copyrightContent, .komLogoFooter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyrightContent p {
    font-size: 0.7rem;
    text-align: center;
}

.addressAndContacts {
    display: flex;
    justify-content: space-around;
    align-items: center;

    font-size: 0.9rem;
}

.facultyName {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
}

.TULLink {
    position: relative;
}

.TULLink a {
    position: absolute;
    width: 100%;
    height: 100%;
}

.svg {
    float: left;
    width: 2.5rem;
    margin-right: 1rem;
}

.square {
    width: 0.8rem;
    height: 0.8rem;
}

.TULStrojni .square {
    background-color: #747476;
}

.TULMain .square {
    background-color: #7b1f4f;
}

.TULMain .secondLine p {
    color: #7b1f4f;
}

.secondLine p {
    font-size: 1.1rem;
    font-weight: 500;
}

.logoComponent, .secondLine {
    display: flex;
    align-items: center;
    margin: 0;
}

.logoComponent {
    justify-content: center;
}

.secondLine {
    justify-content: space-between;
}

.logoText p {
    font-size: 1.1rem;
}

.logoText {
    margin-top: -0.5rem;
}

@media (max-width: 500px) {
    .addressAndContacts > div {
        margin: 0.1rem;
    }

    .addressAndContacts p,
    .addressAndContacts a {
        font-size: 0.7rem;
    }

    .logoText > p {
        font-size: 0.75rem
    }

    .secondLine p {
        font-size: 0.9rem;
    }

    .copyrightContent p {
        font-size: 0.6rem;
    }
}

@media (min-width: 1300px) {
    .contactInfoContent {
        display: flex;
        justify-content: space-around;
        align-items: center;

        min-width: 100%;
        margin: 0 !important;
        padding: 0 !important;
    }

    .addressAndContacts > div {
        margin: 0 0.3rem;
    }
}