.header-content {
    display: grid;
    grid-template-columns: 4fr 17fr 1fr;
    grid-template-rows: 1fr;
    min-height: 75px;
}

.headerTabs-content {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-template-rows: 1fr;
}

.headerTabs-content :first-child {
    border-left: none;
}

.tabName, .cng-lang {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    text-decoration: none;
    color: black;
    font-weight:500;
    font-size: 21px;
}

.langButton {
    background-color: black;
    color: white;
}

.cng-lang {
    color: white;
    font-weight: bold;
}

.langButton :hover {
    color: #2B8CB6;
    font-weight: 700;
    cursor: pointer;
}

.kom-logo {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #2B8CB6;
    font-size: 60px;
    color: white;
}

.headerTab {
    display: grid;

    border: 1px solid lightgrey;
    border-right: none;
    border-top: none;
}

.headerTab :hover {
    background-color: #F5F7F3;
    color: #2B8CB6;
}





