.header {
    height: calc(var(--vh) * 10);
    min-height: 65px;
    max-height: 80px;
    width: 100%;
    position: fixed;
    z-index: 3;
    background-color: white;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.menuList {
    height: 100%;
    max-height: calc(var(--vh) * 50);
}

.logoLink {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.komLogoContainer {
    height: 100%;
}

.komLogo {
    height: 100%;
}

.tabName, .cng-lang {
    text-align: center;
    width: 100%;

    font-size: 1.35rem;
    font-weight: 600;
    letter-spacing: 1px;
}

.langButton {
    background-color: var(--fiolet);
    color: white;
}

.pathName {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.historyWayContent {
    height: 1.5rem;
    margin-top: calc(var(--vh) * 10);
}

.historyWayContent > nav {
    height: 100%;
}

.pathLink {
    font-family: var(--fonts);
    font-size: 1rem;
}

.bigHeader {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bigHeader a {
    height: 100%;
    text-align: center;
    line-height: 80px;
    padding: 0 1%;
    font-size: 1.2rem;
    font-weight: 500;
}