.header-content {
    display: grid;
    grid-template-columns: 4fr 17fr 1fr;
    grid-template-rows: 1fr;
    min-height: 70px;
    align-items: center;
}

.header-content > div {
    height: 70px;
    text-align: center;
}

.headerTabs-content {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-template-rows: 1fr;
    height: 100%;
}

.headerTab {
    /*display: block;*/
    /*height: 100%;*/
}

.tabName {
    display: block;
    height: 100%;
    text-align: center;
}

.cng-lang {
    display: block;
    height: 100%;
}