/*Department*/
.departmentContent div {
    margin: 1rem 0;
}

.introPhotos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.introPhotos > img {
    width: 30%;
    margin: 0 0.5rem;
}

@media (max-width: 767px) {
    .introPhotos > img {
        width: 100%;
        margin: 0.5rem 0;
    }

    .introPhotos > img:not(img:nth-child(2n)) {
        display: none;
    }
}

.introPhoto {
    width: 100%;
}

/*Employees*/
.employeeInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.employeeInfo div {
    margin-top: 0.5rem;
}

.employeeInfo > div:first-child {
    max-width: 400px;
}

.employeePosition h3 {
    font-weight: bold;
    margin: 0.5rem 0;
    font-size: 1.2rem;
}

.employeePosition h5 {
    margin: 0;
}

.contactBlock {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.contactBlock > div:first-child {
    margin-right: 1rem;
    font-weight: 500;
}

.positionInfo {
    margin: 0.7rem !important;
}

.empPhoto {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.empPhoto > img {
    width: 80%;
    max-width: 230px;
}

@media (min-width: 755px) {
    .empPhoto {
        max-width: 270px;
    }
}

@media(max-width: 500px) {
    .employeesContent p,
    .employeesContent a {
        font-size: 0.8rem!important;
    }
}

/*Projects*/
.projectsBlock div {
    margin-top: 0.5rem;
}

.projectInfoBlock {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.projectInfoBlock > div:first-child {
    margin-right: 1rem;
    font-weight: 500;
}

.linkBlock {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;

    margin-top: 1rem !important;
}

.projectsTitle {
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
}

/*Education*/
.educationContent {
    width: 100vw;
}

.descriptionLine {
    margin-right: 2rem;
}

.programShortDesc {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.table {
    min-width: 800px;
}

.table tr {
    display: grid;
    grid-template-columns: 1.5fr repeat(6, 1fr);
}

.table td,
.table th {
    min-width: 120px;
    padding: 12px;
}

.programTitle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    margin: 1rem 0;

    font-weight: bold;
}

.programTitle p {
    font-size: 0.8rem!important;
}

.courses {
    margin-bottom: 1rem;
}

.educationYearInfo > p {
    font-weight: bold;
}

@media (max-width: 999px) {
    .programShortDesc {
        display: unset;
    }

    .descriptionLine {
        margin: 1rem 0 1rem 0;
    }
}

/*Cooperation*/
.coopInfo div {
    margin: 1.5rem 0;
}

.howToCoop ol {
    margin-left: 1rem;
}

@media (max-width: 1055px) {
    .departmentInfo, .cooperationInfo {
        flex-wrap: wrap;
    }
}

/*Laboratories*/
.laboratories {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.paper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;

    width: 100%;
    max-width: 400px;
}

.paper > div {
    width: 100%;
}

.paper:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 10px;
}

.laboratoryButton {
    text-align: center;
}

.laboratoryButton h2 {
    font-size: 1.3rem;
    color: var(--blue);
}

.dialog h2, h3, h4{
    font-weight: bold;
}

.dialog h4 {
    margin: 1rem 0 0 0 !important;
}

.dialog h3 {
    color: var(--fiolet);
}

.dialog h2, h4 {
    color: var(--blue);
}

.labDialogContent div div {
    margin-left: 1rem;
}

.labDialogButtons button {
    margin: 0.6rem 1rem 0.6rem 0!important;
}

.labPhotos {
    width: 100%;
}

.labPhoto {
    width: 100%;
    margin-top: 1rem;
}

/* All news */
.allNews {
    min-height: 100%;
}

.addNews {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.deleteButtonContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.newsDialogContent p {
    margin-top: 1rem;
}

.addNewsDialog .MuiDialog-paper {
    width: 90vw!important;
    max-width: 600px!important;
}

.loginContainer > div {
    margin: 1rem 0;
}

/*login*/

.inputContainer p,
.loginContainer p {
    text-align: center;
    margin: 0.5rem 0;
}

.form .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginContainer .error {
    font-size: 0.7rem;
    color: red!important;
    margin: 0;
    text-align: center;
}

